.bigBox {
    background-color: black;
    width: 600px;
    height: 350px;
    margin: auto;
    position: relative;
}

.caja {
    width: 40px;
    height: 40px;
    border: 4px dotted aquamarine;
    color: white;
    text-align: center;
}

.box1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.box2 {
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.box3 {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
}

.box4 {
    position: absolute;
    margin-top: 100px;
    margin-left: 400px;
}

.box5 {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

.box6 {
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
}

.box7 {
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
}

.box8 {
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
}




/*
practica 4 - Mickey Mouse
.caja {
    background-color: red;
    border-radius: 50%;
    width: 80px;
    height: 100px;

}

.container {
    width: 1000px;
    height: 800px;
    position: relative;
    border: 10px solid blue;
}

.ear1 {
    width: 125px;
    height: 125px;
    margin-left: 330px;
    margin-top: 200px;
    position: absolute;
}


.ear2 {
    width: 125px;
    height: 125px;
    position: absolute;
    margin-left: 550px;
    margin-top: 200px;
}

.body {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 250px;
    margin-left: 350px;
}
*/